:root {

  --primary-color-ligther: rgba(10,118,240,0.5);
  --secondary-color: #EAB4B2;
  --whatsapp-color: #25d366;
  --whatsapp-color-ligther: #81ffb0;
  --youtube-color: #ff0000;
  --vk-color: #4a76a8;
  --facebook-color: rgba(10,118,240,1);
  --messenger-color: rgba(10,118,240,1);
  --telegram-color: #36ade1;
  --instagram-color: #fdf497;
}

.theme-light {
  --primary-color: rgba(10,118,240,1);
  --bg-primary: #fff;
  --bg-gray: #f7f7f7;
  --border-gray: #eaeaea;
  --text-color-primary: #000;
  --text-color-secondary: rgba(0,0,0,0.5);
  --text-color-black-200: rgba(0,0,0,0.2);
}

.theme-dark {
  --primary-color: #5095e2;
  --bg-primary: #1a2138;
  --bg-gray: #343a58;
  --border-gray: #4b4f63;
  --text-color-primary: #fff;
  --text-color-secondary: #747FA3;
  --text-color-black-200: rgba(255,255,255,0.2);
}
