#features {
  background: #fefefe;
  border-top: 1px solid #eee;
}
.feature {
  img {
    border-radius: 8px;
    box-shadow: 0 8px 30px -2px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
    transition: .2s;
    &:hover {
      transform: translateY(-4px);
    }
  }
  h3 {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 568px) {
  .feature {
    img {
      margin-top: 1rem;
    }
  }
}
