.fade-enter-active {
  transition: opacity .25s;
}

.fade-enter {
  opacity: 0;
}

.borderCenter {
    position: relative;
}

.borderCenter::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 60%;
    height: 1px;
    opacity: 0;
    background-color: var(--primary-color);
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
}

.borderCenter:hover::after {
    width: 100%;
    opacity: 1;
}
