body {
  padding: 0;
  margin: 0;
  color: #000 !important;
}
h1, h2, h3 {
	line-height: 1.1 !important;
}
p {
  line-height: 1.4 !important;
}

code {
  color: #333 !important;
}

.projects {
	max-width: 960px;
	margin: auto;
	border-radius: 6px;
	padding: 2rem;
	background: #fff !important;
	border: 1px solid #dadada;
  a {
    font-size: 18px;
  }
}

a i {
	margin-right: 6px;
}
.button__whatsapp {
	border-bottom: 2px solid #000;
	transition: .2s;
  background: #25D366 !important;
  color: #fff !important;
  border: none !important;
  box-shadow: 0 8px 30px -2px rgba(0,0,0,0.2);
  &:hover {
    box-shadow: 0 8px 30px -2px rgba(0,0,0,0.1);
    transform: translateY(-4px);
  }
}

.my-link {
	text-decoration: underline;
	color: #333 !important;
	transition: .2s !important;
}
li i {
  position: relative;
  top: 1px;
  margin-right: 6px;
}
.tag {
  margin-left: 12px;
}
@media only screen and (max-width: 568px) {
  * {
    font-size: 20px;
  }
  .main-container {
    background-size: contain;
		background-repeat: no-repeat;
  }
	.column {
		text-align: center;
		padding: 4px;
	}
	.button {
		width: 100%;
	}
  .button.is-large {
    font-size: 1.2rem !important;
  }
}

article {
  max-width: 720px;
  margin: auto;
  padding: 0 var(--space);
  h1 {
    margin-bottom: 1rem;
  }
  ul {
    margin-left: 0;
  }
}

.ya-share2 {
  margin-bottom: 1.5rem;
}

#disqus_thread {
  margin-top: 2rem;
}

@media only screen and (max-width: 568px) {
  article {
    margin-top: -1rem !important;
  }
  .ya-share2, .ya-share2 * {
    line-height: 1 !important;
  }
}

.section {
  .desc {
    max-width: 720px;
    margin: auto;
  }
}
.backgrouned {
  border-top: 1px solid #eee;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(247,247,247,1) 100%);
}

#works {
  .label {
    padding: 6px;
    background: #fff !important;
    border: 1px solid #dadada;
    border-radius: 4px;
    width: 140px;
    text-align: center; line-height: 1.4;margin: auto; z-index: 10 !important;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

#intro,
#works {
	padding-bottom: 0 !important;
}
#more {
	padding-top: 1.8rem !important;
	padding-bottom: 1.8rem !important;
}

#features {
  background: #fefefe;
  .feature {
    img {
      border-radius: 8px;
      box-shadow: 0 8px 30px -2px rgba(0,0,0,0.1);
      margin-bottom: 1rem;
      transition: .2s;
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px -2px rgba(0,0,0,0.05);
      }
    }
    h3 {
      margin-bottom: 1rem;
    }
  }
}

#about {
  img {
    width: 200px;
    margin-bottom: 1rem;
    border-radius: 100px;
    box-shadow: 0 4px 100px -6px rgba(0, 0, 0, 0.3);
  }
  h3 {
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    max-width: 720px !important;
  }
}

#contact {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(247,247,247,1) 100%);
  .contacts-additional {
    max-width: 840px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem !important;
    a {
      margin-left: 1rem;
      line-height: 1;
      &:first-child {
        margin-left: 0;
      }
      i {
        transition: 0.1s;
      }
    }
    .telegram:hover {
      border-color: #36ADE1;
      i {
        color: #36ADE1;
      }
    }
    .vk:hover {
      border-color: #4a76a8;
      i {
        color: #4a76a8;
      }
    }
    .email:hover {
      border-color: #000;
      i {
        color: #000;
      }
    }
    .facebook:hover {
      border-color: #4267b2;
      i {
        color: #4267b2;
      }
    }
    .instagram:hover {
      border-color: #bc2a8d;
      i {
        color: #bc2a8d;
      }
    }
  }
}

#faq {
  background: #fefefe;
}
@media only screen and (max-width: 568px) {
  #intro {
    h1 {
      span {
        font-size: 1.8rem !important;
      }
    }
  }
  #features {
    .feature {
      img {
        margin-top: 1rem;
      }
    }
  }
  #contact {
    .contacts-additional {
      flex-wrap: wrap;
      margin-top: 0 !important;
      a {
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
      }
    }
  }
  #faq {
    .column {
      margin-top: 2rem;
    }
  }
}
@media only screen and (max-width: 320px) {
  #intro {
    h1 {
      line-height: 1 !important;
      margin-bottom: 0 !important;
      span {
        font-size: 1.5rem !important;
      }
    }
  }
}
