footer {
  border-top: 1px solid #eee;
  padding-bottom: 2rem !important;
  background: #292C34;
  p, a, code, i {
    font-size: 14px !important;
    color: #D7DADF;
  }
  code {
    border-radius: 2px;
    padding: 0.25em 0.40em 0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
  a {
    &:hover {
      text-decoration: underline;
      color: #D7DADF;
      text-decoration: underline;
    }
  }
  i {
    margin-right: 0.2rem;
    position: relative;
    top: 1px;
  }
}
