nav {
  border-bottom: 1px solid #eee;
}
.sergeyfilimonov {
  display: flex;
  align-items: center;
  img {
    margin-right: 0.5rem;
    margin-bottom: 0;
    max-height: none !important;
    width: 50px;
    margin-left: -18px;
  }
  .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start !important;
    .whatdoyoudo {
      font-size: 8px;
      letter-spacing: 1px;
      text-transform: uppercase;;
    }
  }
}
.navbar-menu .navbar-item {
  border-radius: 0 !important;
  transition: .2s !important;
  font-weight: 600;
}
.navbar-menu .navbar-item:hover {
  background: none !important;
  border-bottom: 4px solid var(--primary-color);
  color: black !important;
}
.navbar-menu i {
  font-weight: 400;
}
@media only screen and (max-width: 568px) {
  .navbar-brand {
    align-items: center !important;
  }
  .navbar-burger {
    &:hover {
      border-radius: 100px;
    }
  }
  .navbar-menu {
    padding: 1rem !important;
    border-radius: 8px;
  }
  .navbar-menu .navbar-item:hover {
    color: #8786FE !important;
  }
  .sergeyfilimonov {
    img {
      margin-left: -18px;
    }
  }
  .navbar {
    padding: 0rem 1rem;
    padding-top: 0rem;
  }
}
