.button {
  @apply inline-flex items-center justify-center text-white bg-primary w-full text-center;
  transition: .2s;
  &--lg {
    @apply text-xl py-2 px-4;
  }
  &--xl {
    @apply text-xl py-2 px-4;
  }
  &--2xl {
    @apply text-lg py-2 px-4;
  }
  &--rounded {
    @apply rounded-full;
  }
  &:hover {
    transform: scale(0.96);
  }
}
@screen lg {
  .button {
    @apply w-auto;
    &--lg {
      @apply text-lg py-4 px-8;
    }
    &--xl {
      @apply text-xl py-2 px-6;
    }
    &--2xl {
      @apply text-2xl py-4 px-10;
    }
  }
}

form input[type="submit"] {
  &:hover {
    cursor: pointer;
  }
}
